<!DOCTYPE html>
<html lang="en_ca">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RHY - Blog</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="icon" href="{{ url_for('static', filename='test.icon') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <header class = "nav">
        <h1 class="nav-title">Rielly H. Young  | Technologist</h1>
        <nav class="nav">
            <ul>
                <li><a href="/">Home</a></li>|
                <li><a href="/projects">Projects</a></li>|
                <li><a href="/blog">Blog</a></li>|
                <li><a href="/cv">CV</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <div class="blog-post">
            <h3>Title</h3>
            <p>Subtitle</p>
            <button id="read-btn">See more/less</button>
            <div class="remaining-blog" style="display: none;">
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
            </div>
        </div>

        <script>
            document.getElementById('read-btn').addEventListener('click', function() {
                var additionalContent = document.querySelector('.remaining-blog');
                additionalContent.style.display = (additionalContent.style.display === 'none' || additionalContent.style.display === '') ? 'block' : 'none';
            });
        </script>
    </body>
</html>