<!DOCTYPE html>
<html lang="en_ca">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RHY - Home</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="icon" href="{{ url_for('static', filename='test.icon') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <header class = "nav">
        <h1 class="nav-title">Rielly H. Young  | Technologist</h1>
        <nav class="nav">
            <ul>
                <li><a href="/">Home</a></li>|
                <li><a href="/projects">Projects</a></li>|
                <li><a href="/blog">Blog</a></li>|
                <li><a href="/cv">CV</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <div>
            <div class="container">
                <h2>About me</h3>
                <p>I'm a software developer & data engineer currently working for the federal government in Ottawa.</p>
                <p>I'm mostly active on <a href='https://www.github.com/deepwaterpaladin'>Github</a>, <a href='https://www.twitter.com/riellyyoung'>Twitter</a> & <a href="https://www.linkedin.com/in/riellyyoung/">LinkedIn</a>.</p>
                <p>Feel free to <a href="mailto:rielly.young11@gmail.com">email me</a>!</p>
            </div>
            <!-- <div class="further-reading">
                <h3>Further reading</h3>
                <p><a href="https://gaultier.github.io/blog/you_inherited_a_legacy_cpp_codebase_now_what.html">You’ve just inherited a legacy C++ codebase, now what?</a></p>
                <p>two</p>
                <p>three</p>
            </div> -->
        </div>
        
    </body>
</html>