<!DOCTYPE html>
<html lang="en_ca">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RHY - Home</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="icon" href="{{ url_for('static', filename='test.icon') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <header class = "nav">
        <h1 class="nav-title">Rielly H. Young  | Software Developer</h1>
        <nav class="nav">
            <ul>
                <li><a href="/">Home</a> | </li>
                <li><a href="/blog">Blog</a> |</li>
                <li><a href="/projects">Projects</a> |</li>
                <li><a href="/links">Links</a> |</li>
                <li><a href="/cv">CV</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <div class="container">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo urna sit amet turpis consequat, eget efficitur velit dapibus.</p>
            <p>Phasellus et nisi ut quam fermentum vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin ultrices euismod dui, vel ultrices massa vestibulum ac.</p>
            <p>Donec eget efficitur metus. Maecenas aliquet sapien id efficitur suscipit. In hac habitasse platea dictumst. Duis at sodales enim. Sed non placerat lacus.</p>
            <p>Suspendisse et ante vel mauris viverra vehicula. Integer auctor odio in quam dictum, vel fermentum sapien condimentum.</p>
            <p>Curabitur ut leo varius, ultricies ligula non, vestibulum ligula. Maecenas consequat, turpis eget dapibus aliquam, ligula magna sagittis justo, sed faucibus sem orci vel odio.</p>
        </div>
    </body>
</html>