<!DOCTYPE html>
<html lang="en_ca">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RHY - Links</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="icon" href="{{ url_for('static', filename='test.icon') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <header class = "nav">
        <h1 class="nav-title">Rielly H. Young  | Software Developer</h1>
        <nav class="nav">
            <ul>
                <li><a href="/">Home</a> | </li>
                <li><a href="/blog">Blog</a> |</li>
                <li><a href="/projects">Projects</a> |</li>
                <li><a href="/links">Links</a> |</li>
                <li><a href="/cv">CV</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <ul>
            <li</li>
            <li></li>
        </ul>
    </body>
</html>