<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RHY - CV</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='me.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="cv">
        <div class="work">
            <h2>Work History</h2>
            <div class="work-exp">
                <p>Software/Data Developer | May 2023 - Present</p>
                <p class="under-text">Corporate Services | Transport Canada</p>
            </div>
            <div class="work-exp">
                <p>Data Analyst | June 2022 - May 2023</p>
                <p class="under-text">Corporate Planning & Reporting | Transport Canada</p>
            </div>
            <div class="work-exp">
                <p>Research & Analysis Officer | January 2021 - April 2022</p>
                <p class="under-text">Innovation Centre | Transport Canada</p>
            </div>
        </div>

        <div > 
            <h2>Research Experience</h2>
            <div class="work-exp">
                <p>Research Assistant | May 2021 - August 2021</p>
                <p class="under-text">Supervisor: Professor Michaël O’Neill | University of Ottawa</p>
            </div>
            <div class="work-exp">
                <p>Research Assistant | September 2020 - December 2020</p>
                <p class="under-text">Family Homelessness Lab | CMHC</p>
                <p class="under-text">
                    <a href="https://www.cmhc-schl.gc.ca/nhs/nhs-project-profiles/2019-nhs-projects/addressing-family-homelessness-neighbourhood-level" target="_blank">Key Findings/ Key Goals</a>
                </p>
            </div>
        </div>
    
        <div class="publications">
            <h2>Publicaitons</h2>
            <p>
                <a href="https://tcdocs.ingeniumcanada.org/sites/default/files/2022-07/Micro%20Utility%20Devices%20-%20Observations%20from%20TC%27s%20Winter%202022%20Urban%20Trial.pdf" target="_blank">Micro Utility Devices - Observations from TC’s Winter 2022 Urban Trial</a>
            </p>
            <p class="under-text">Transport Canada - Winter 2022</p>

            <p>
                <a href="https://www.ypolitika.com/post/can-a-mandatory-bargaining-code-solve-canada-s-journalism-issues" target="_blank">Analysis of Australia’s News Media Bargaining Code</a>
            </p>
            <p class="under-text">YPolitika Ottawa ON - Fall 2021</p>

            <p>
                <a href="https://publishing.bceln.ca/index.php/phpdialogues/article/view/552" target="_blank">Amazon & Antitrust: Restoring Competition in the Digital Economy through Structural Separation Policy</a>
            </p>
            <p class="under-text">Thompson River University Undergraduate Conference</p>
        </div>

        <div class="education">
            <h2>Education</h2>
            <p>Honours Bachelor of Social Science, Public Administration | 2017 - 2022</p>
            <p class="under-text">University of Ottawa</p>
        </div>
    </div>
    {% endblock %}
</body>
</html>