<!DOCTYPE html>
<html lang="en_ca">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RHY - Home</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="icon" href="{{ url_for('static', filename='me.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <header class = "nav">
        <h1 class="nav-title">Rielly H. Young  | Technologist</h1>
        <nav class="nav">
            <ul>
                <li><a href="/">Home</a></li>|
                <li><a href="/projects">Projects</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <div>
            <div class="container">
                <h2>About me</h3>
                <p>I'm a software developer currently working for the federal government in Ottawa. In my free time, I enjoy watching sports - mainly baseball, football, & basketball - tending to my succulents, and working on personal engineering projects.</p>
                <p>Currently I'm focusing on a <a href="https://arxiv.org/pdf/0812.0913.pdf" target="_blank">foreign exchange arbitrage</a> engine to identify opportunities for riskless (in theory) profit & a moisture sensor to prevent <a href="https://hort.extension.wisc.edu/articles/root-rots-houseplants/" target="_blank">root rot</a> with my succulents using a Raspberry Pi Pico. I'll update the progress of these projects <a href="/projects">here</a>.</p>
                <p>I'm mostly active on <a href='https://www.github.com/deepwaterpaladin' target="_blank">Github</a>, <a href='https://www.twitter.com/riellyyoung' target="_blank">Twitter</a> & <a href="https://www.linkedin.com/in/riellyyoung/" target="_blank">LinkedIn</a>.</p>
                <p>Feel free to <a href="mailto:rielly.young11@gmail.com">email me</a>.</p>
            </div>

            <div class="block">
                <p> </p>
                <p> </p>
            </div>

            <div class="cv">
                <div class="work">
                    <h2>Work History</h2>
                    <div class="work-exp">
                        <p>Software/Data Developer | May 2023 - Present</p>
                        <p class="under-text">Corporate Services | Transport Canada</p>
                    </div>
                    <div class="work-exp">
                        <p>Data Analyst | June 2022 - May 2023</p>
                        <p class="under-text">Corporate Planning & Reporting | Transport Canada</p>
                    </div>
                    <div class="work-exp">
                        <p>Research & Analysis Officer | January 2021 - April 2022</p>
                        <p class="under-text">Innovation Centre | Transport Canada</p>
                    </div>
                </div>
    
                <div > 
                    <h2>Research Experience</h2>
                    <div class="work-exp">
                        <p>Research Assistant | May 2021 - August 2021</p>
                        <p class="under-text">Supervisor: Professor Michaël O’Neill | University of Ottawa</p>
                    </div>
                    <div class="work-exp">
                        <p>Research Assistant | September 2020 - December 2020</p>
                        <p class="under-text">Family Homelessness Lab | CMHC</p>
                        <p class="under-text">
                            <a href="https://www.cmhc-schl.gc.ca/nhs/nhs-project-profiles/2019-nhs-projects/addressing-family-homelessness-neighbourhood-level" target="_blank">Key Findings/ Key Goals</a>
                        </p>
                    </div>
                </div>
            
                <div class="publications">
                    <h2>Publicaitons</h2>
                    <p>
                        <a href="https://tcdocs.ingeniumcanada.org/sites/default/files/2022-07/Micro%20Utility%20Devices%20-%20Observations%20from%20TC%27s%20Winter%202022%20Urban%20Trial.pdf" target="_blank">Micro Utility Devices - Observations from TC’s Winter 2022 Urban Trial</a>
                    </p>
                    <p class="under-text">Transport Canada - Winter 2022</p>
    
                    <p>
                        <a href="https://www.ypolitika.com/post/can-a-mandatory-bargaining-code-solve-canada-s-journalism-issues" target="_blank">Analysis of Australia’s News Media Bargaining Code</a>
                    </p>
                    <p class="under-text">YPolitika Ottawa ON - Fall 2021</p>
    
                    <p>
                        <a href="https://publishing.bceln.ca/index.php/phpdialogues/article/view/552" target="_blank">Amazon & Antitrust: Restoring Competition in the Digital Economy through Structural Separation Policy</a>
                    </p>
                    <p class="under-text">Thompson River University Undergraduate Conference</p>
                </div>
    
                <div class="education">
                    <h2>Education</h2>
                    <p>Honours Bachelor of Social Science, Public Administration | 2017 - 2022</p>
                    <p class="under-text">University of Ottawa</p>
                </div>
    
            </div>
        </div>
        <script src="{{url_for('static', filename='helpers.js')}}"></script>
    </body>
</html>