<!DOCTYPE html>
<html lang="en_ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RHY - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='me.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div id="home" class="page">
        <div class="container">
            <h2>About me</h3>
            <p>I'm a software developer currently working for the federal government in Ottawa. In my free time, I enjoy watching sports - mainly baseball, football, & basketball - tending to my succulents, and working on personal engineering projects. I also maintain two python packages for bulk data extraction: <a href="https://pypi.org/project/statscanpy/" target="_blank">StatsCanPy</a> & <a href="https://pypi.org/project/eurostatpy/" target="_blank">EuroStatPy</a>. You can read more about it <a href="/projects">here</a>.</p>
            <p>Currently I'm focusing on a <a href="https://arxiv.org/pdf/0812.0913.pdf" target="_blank">foreign exchange arbitrage</a> engine to identify opportunities for riskless (in theory) profit & a moisture sensor to prevent <a href="https://hort.extension.wisc.edu/articles/root-rots-houseplants/" target="_blank">root rot</a> with my succulents using a Raspberry Pi Pico. I'll update the progress of these projects on their associated tab.</p>
            <p>I'm mostly active on <a href='https://www.github.com/deepwaterpaladin' target="_blank">Github</a> & <a href="https://www.linkedin.com/in/riellyyoung/" target="_blank">LinkedIn</a>. You can also read my most recent blog post <a href="{{ url_for('post', post_id=posts[0].id) }}">here</a>.</p>
            <p>Feel free to <a href="mailto:rielly.young11@gmail.com">email me</a>.</p>
        </div>
    </div>
    {% endblock %}
</body>
</html>
