<!DOCTYPE html>
<html lang="en_ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RHY - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='me.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <a href="/blog"> <- Return</a>

    {% block content %}
    <div class="blog-post">
        <h2>{{ post.title }}</h2>
        <h3 class="under-text">By {{ post.author }}, {{ post.date }}</h3>
        {% for paragraph in post.content %}
            <p>{{ paragraph }}</p>
        {% endfor %}
        <!-- <button class="read-btn">Read More</button> -->
    </div>
    {% endblock %}

</body>
</html>