<!DOCTYPE html>
<html lang="en_ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RHY - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='me.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <a href="/">Return Home</a>

    {% block content %}
    <div class="blog-post">
        <h3>{{ post.title }}</h3>
        <p class="under-text">By {{ post.author }}, {{ post.date }}</p>
        <p>{{ post.content }}</p>
        <button class="read-btn">Read More</button>
    </div>
    {% endblock %}

</body>
</html>